extends layout
block content
 h1= title
 - let fruitid = toShow._id
 - let name = toShow.name
 - let color = toShow.color
 - let quantity = toShow.quantity
 div
 div.row
 div(class='fruitAttr mr-3') fruit ID is:
 div #{fruitid}
 div.row
 div(class='fruitAttr mr-3') fruit name is:
 div #{name}
 div.row
 div(class='fruitAttr mr-3') fruit color is:
 div #{color}
 div.row
 div(class='fruitAttr mr-3') fruit quantity is:
 div #{quantity}