extends layout

block content
  h1= title
  -
    let items = results
  div(class= "container-fluid")
    div(class = "row m-1")
      each value,index in items
        - let destination = 'dispatch(\"/fruit/update?id=${value._id}\")'
        div(class= "col-sm-2", onclick=`buy(${index})`) name: #{value.name}
        div(class= "col-sm-2", onclick=`buy(${index})`) color: #{value.color}
        div(class= "col-sm-2", onclick=`buy(${index})`) quantity: #{value.quantity}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
        br
        br
        br

  script.
    function dispatch(path){
      window.location.href=path
    }
