extends layout

block content
  h1(class='bonus')= title

  if (toShow == null)
    h2 No instance to update
  else
    - let fruitid = toShow._id
    - let name = toShow.name
    - let color = toShow.color
    - let quantity = toShow.quantity

    div.row(class='fruitAttr mb-2')
      div.mr-1 ID is
      div #{fruitid}

    - let actionid = "/resource/fruit/" + fruitid
    form(id='fruitForm', action=actionid, method="PUT")
      div.form-group
        label.fruitAttr(for='name') fruit name
        input#name(type='text' name='name', value=name)
      div.form-group
        label.fruitAttr(for='color') fruit color
        input#color(type='text' name='color', value=color)
      div.form-group
        label.fruitAttr(for='quantity') fruit quantity
        input#quantity(type='number' name='quantity', value=quantity)
      input(type="submit")
    
    script.
      document.forms['fruitForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          if (resp.ok) {
            alert("Fruit Updated Successfully")
            document.getElementById('fruitForm').reset()
          } else {
            alert("Failed to Update Fruit")
          }
        }).then((body) => {
          console.log(body)
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error)
        });
      });
